<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Welcome {{user.username}} to shopping
    </ion-title>
    <ion-buttons slot="end" (click)="openCart(user.id)">
      <ion-badge *ngIf="cart.length > 0" color="danger"> {{cart.length}} </ion-badge>
      <ion-button>
          <ion-icon name="cart" slot="icon-only" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div *ngFor="let item of categories; let i = index" class="category-block">
      <ion-row no-padding class="category-banner" style="background-color: #d5d5d7;">
        <ion-col text-left button (click)="toggle(item, item.id, i)" align-self-center>      
          <label tappable>{{item.name}}</label>
        </ion-col>
      </ion-row>


   <ion-slides [options]="sliderConfigs">
     <ion-slide *ngFor="let pro of products; let ii = index">
  
       <div *ngIf="showIndex ===i && item.expanded" [attr.id]="'undoBtn'+i">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
               {{ii+1}} {{pro.name}}
            </ion-card-title>
            <ion-card-content>
              <img src="{{pro.image}}" alt="img">
              <ion-button expand="full" color="danger" style="margin-top: 10px;" shape="round" (click)="addToCart(pro)">Add to cart </ion-button>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
       </div>
  
     </ion-slide>
     </ion-slides>
    </div>
  
    <p *ngIf="productLength == 0" id="emptyMessage">Sorry, nothing in here</p>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-title (click)="logout(user.id)" style="cursor: pointer;"> logout </ion-title>
  </ion-toolbar>
</ion-footer>